﻿<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bookmark your favorite mobile locations,  and access and navigate them easily from any mobile device. Get directions, find your way back or simply track your locations.">
    <meta name="keywords" content="GeoLocation,Bookmark,Location,Find">

    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="GeoCrumbs">
    <link rel="apple-touch-icon" href="../touch-icon.png" />

    <link rel="icon" href="../touch-icon.png" />


    <title>GeoCrumbs - Bookmark your Geo Locations</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    
    <link href="../Css/geocrumbs.min.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="~/js/html5shiv.js"></script>
      <script src="~/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="Splash">
        Geo<img src="../touch-icon.png" style="height: 35px; width: 35px;" />Crumbs
        <div id="SplashByline">
            Bookmark your favorite<br />
            Geo Locations<br />
        </div>
    </div>


    <div class="footerbar" style="text-align: center;">
        <a id="LocationIcon" class="iconbutton btn" href="#/map">
            <i class="fa fa-compass fa-2x"></i>
            <br />
            <small>Map</small>
        </a>
        <a id="HistoryIcon" class="iconbutton btn" href="#/history">
            <i class="fa fa-star fa-2x"></i>
            <br />
            <small>Crumbs</small>
        </a>
        <a id="SearchIcon" class="iconbutton btn" href="#/search">
            <i class="fa fa-search fa-2x"></i>
            <br />
            <small>Search</small>
        </a>
        <a id="SettingsIcon" href="#/settings" class="iconbutton btn">
            <i class="fa fa-gear fa-2x"></i>
            <br />
            <small>Settings</small>
        </a>
    </div>

    <div id="MapContent" data-icon="LocationIcon"
         ng-controller="mapController" style="display:none">
        <div class="headerbar">
            <div class="right">
                <a class="iconbutton btn btn-sm" accesskey="S"
                   href="#/saveLocation" style="margin-right: 2px;">
                    <i class="fa fa-check fa-2x" style="color: lightgreen;"></i>
                    Save Location
                </a>
            </div>
            <div class="left-header">
                Geo<img src="../touch-icon.png" class="app-icon" />Crumbs
            </div>            
        </div>
        <div class="clearfix"></div>

        <div id="Message">
            <div class="btn-group">
                <button type="button" class="btn btn-success" data-toggle="dropdown">
                    <span class="caret"></span>&nbsp;
                    <span class="fa fa-map-marker"></span>
                    <span id="MessageText" style="font-size: smaller;"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="showDirections()">Directions from current location</a></li>
                    <li><a ng-click="showInMapsApp()">Show in Maps App</a></li>
                    <li><a ng-click="sendSms()">Send location in SMS</a></li>
                    <li class="divider"></li>
                    <li><a ng-click="toCurrentLocation()">Go to current location</a></li>
                </ul>
            </div>
        </div>

        <div id="Map" class="content-area" style="background: silver;">
        </div>

        <div id="GoCurrent" onclick="bc.getCurrentLocation(false);">
            <span class="fa fa-location-arrow fa-2x" title="Go to current location"></span>
        </div>
    </div>


    <div id="ViewPlaceholder"
         autoscroll="" class="xslide-animation"
         ng-view
         xng-animate></div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        if (typeof (jQuery) == 'undefined')
            document.write(unescape("%3Cscript src='scripts/jquery.min.js' %3E"));
    </script>
    <script src="../scripts/ww.jquery.js"></script>
    <script>
        function showSplash(hide) {
            window.splashStart = new Date().getTime();
            $("#Splash")
                .show()
                .centerInClient({ keepCentered: true })
                .closable({ cssClass: "closebox-container" });
        }

        function hideSplash() {
            if (window.splashStart) {
                // take at least 2 seconds for splash
                var timeout = 2500 - (new Date().getTime() - splashStart);
                timeout = timeout < 0 ? 0 : timeout;
                setTimeout(function () {
                    $("#Splash").fadeOut(1300);
                }, timeout);
            }
        }

        if (window.location.hash == "#/map")
            showSplash();
        window.startLocation = { Latitude: 0, Longitude: 0, Address: null };
    </script>

    <script src="../Scripts/underscore.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-touch.min.js"></script>

    <!--
    <script src="../scripts/fastclick.min.js"></script>
    <script>
                window.addEventListener('load', function () {
                    FastClick.attach(document.body);
                }, false);
    </script>
    -->

    <script src="js/app.js"></script>
    <script src="js/services.js"></script>

    <script src="js/mapcontroller.js"></script>
    <script src="partials/saveLocationController.js"></script>
    <script src="partials/historycontroller.js"></script>
    <script src="partials/searchcontroller.js"></script>
    <script src="partials/logincontroller.js"></script>
    <script src="partials/accountcontroller.js"></script>
    <script src="partials/settingsController.js"></script>
    <script src="partials/landingController.js"></script>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places"
            axsrc="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places&key=AIzaSyCQNj_YGtFklUzbXUWTXCATpr-SFdNiS34">
    </script>



    <script src="js/GeoCoder.min.js"></script>
    <script src="js/BreadCrumbs.js"></script>

    <!--<script src="scripts/md5.min.js"></script>-->
    <!-- Delay loaded scripts-->
    <script src="../scripts/md5.js" async></script>

    <script type="text/javascript">
        bc.initialize();
        //hardcoded for now
        bc.baseUrl = "../";
    </script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-9492219-3', 'geocrumbs.net');
        ga('send', 'pageview');
    </script>
</body>
</html>